
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: black;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('/static/images/messi2.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-attachment: fixed; 
}


h1 {
    color: black;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px whitesmoke, -2px -2px 4px whitesmoke; 
}


ul {
    list-style-type: none;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
}


li {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}


li img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 20px;
}


li div {
    flex-grow: 1;
}

li div p {
    margin: 5px 0;
}

p {
    text-align: center;
    font-size: 18px;
    color: black;
}
