* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: black;
    background-image: url('/static/images/imagen1.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-attachment: fixed; 
    color: black;
    font-size: 3rem;
    display: flex;
    flex-flow: column;
    place-content: center;
}

nav {
    padding: 1rem;
    background-color: #44B78B;
    color: white;
    font-size: 2.5rem;
}

main {
    flex-grow: 1;
    display: grid;
    place-content: center;
}

h1 {
    text-align: center;
    color: black; 
    text-shadow: 2px 2px 4px whitesmoke, -2px -2px 4px whitesmoke; 
    text-decoration: underline;
    
}

p {
    text-align: center;
    color: black; 
    text-shadow: 2px 2px 4px whitesmoke, -2px -2px 4px whitesmoke; 
    
}

h2 {
    font-weight: bold; 
    text-align: center; 
    color: black;
    margin: 1rem 0; 
    text-shadow: 2px 2px 4px white, -2px -2px 4px white; 
}

a {
    text-decoration: none;
    color: #81dbb8;
}

a:hover {
    opacity: .85;
}

.image {
    display: block;
    margin: 0 auto; 
    width: 100%;
    max-width: 500px; 
    height: auto;
    border-bottom: 1px solid #ddd; 
    margin-bottom: 1rem; 
}


/* Estilo para el contenedor de botones */
.button-container {
    display: flex;
    gap: 15px; /* Espacio entre botones */
    margin-top: 20px; /* Espacio superior del contenedor de botones */
}

/* Estilo general para los botones */
.button-container button {
    padding: 15px 30px; /* Ajusta el tamaño del botón (más grande) */
    font-size: 18px; /* Tamaño de la fuente del botón (más grande) */
    border: none;
    background-color: #007bff; /* Color de fondo del botón */
    color: white; /* Color del texto */
    cursor: pointer; /* Cambia el cursor cuando se pasa sobre el botón */
    border-radius: 5px; /* Bordes redondeados */
}

.button-container button:hover {
    background-color: #0056b3; /* Color de fondo del botón en hover */
}
